body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.refresh {
    height: 300px;
    width: 300px;
    background: url(/reload.png);
    background-size: contain;
    background-position: center;
    animation: spin 1s .8s forwards;
}

.hand {
    height: 300px;
    width: 300px;
    background: url(/finger_PNG6301.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: press 1s forwards linear;
    position: relative;
    z-index: 1;
}

@keyframes press {
    from {transform: translate(0, -150px);}
    to {transform: translate(0, 150px);}
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}